<div class="centered-content">
    <div class="login-box">
        <h1 class="title has-text-primary">
            Manager Login
        </h1>
        <div class="field">
            <p class="control has-background-light has-icons-left has-icons-right">
              <input class="input" #name type="text" placeholder="Name">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-background-light has-icons-left">
              <input class="input" #password type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          
          <div class="field is-grouped">
            <p class="control">
              <button class="button is-primary" (click)="login(name.value, password.value)">
                Login
              </button>
            </p>
            -OR-
            <p class="control">
              <button routerLink="/signup-manager" class="button is-primary is-pulled-right">
                Sign up
              </button>
            </p>
          </div>
          <button routerLink="/" class="button is-primary is-light">
            Home
          </button>
    </div>
  </div>