<div class="centered-content">
    <div class="task-manager-container">
        
        <div class="task-list-container">
            <h1 class="title has-text-primary">
                User
            </h1>

            
                <button class="button is-primary" routerLink="/login-user">Login</button>
                <br>
                <button class="button is-primary" routerLink="/signup-user">Sign up</button>
            
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="task2-list-container">
            
                <h1 class="title has-text-primary">
                    Manager
                </h1>
                
            
                    <button class="button is-primary" routerLink="/login-manager">Login</button>
                    <br>
                    <button class="button is-primary" routerLink="/signup-manager">Sign up</button>
                
            
        </div>
    </div>
</div>