<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Update your task!
        </h1>
        <p class="control is-expanded">Note:
            <textarea #note class="textarea">{{task.note}}</textarea>
        </p>
        <h1>Progress: {{slider.value}}%</h1>
        <input type="range" #slider [value]="task.progress" (change)="progress(slider.value)" class="range" min="0" max="100">

        <div class="buttons is-right is-grouped" style="margin-top: 20px;">
            <p class="control">
                <a class="button" [routerLink]="['/user', task.empId]">
                    Cancel
                </a>
            </p>
            <p class="control">
                <a class="button is-primary" (click) = "update(note.value, slider.value)" [routerLink]="['/user', task.empId]">
                  Update  
                </a>
            </p>
        </div>
    </div>
</div>